---

---

<section class="text-gray-800 z-40 relative bg-yellow-500 py-20 selection:bg-blue-200">
	<div class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
		<div class="py-6 md:py-0 md:px-6">
			<h1 class="text-4xl font-bold  hover:bg-violet-400 duration-500 rounded p-1">Parroquia Cristo Rey </h1>
			<p class="pt-2 pb-4 text-2xl  hover:bg-violet-400 duration-500 rounded p-1">La Banda | Santiago del Estero</p>
			<div class="space-y-4">
				<div class="flex items-center hover:bg-violet-400 duration-500 rounded p-1">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
					</svg>
					<span class=" hover:bg-violet-400 duration-500"> España 346</span>
				</div>
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
					</svg>
					<span class=" hover:bg-violet-400 duration-500  rounded p-1">385 427-1237</span>
				</div>
				<div class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
						<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
					</svg>
					<span class=" hover:bg-violet-400 duration-500 rounded p-1">parroquiacristorey346@gmail.com </span>
				</div>
				<a 
				target="_blank"
				href="https://www.facebook.com/Parroq.a.Cristo.Rey"
				class="flex items-center">
					<svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 sm:mr-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 2.03998C6.5 2.03998 2 6.52998 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.84998C10.44 7.33998 11.93 5.95998 14.22 5.95998C15.31 5.95998 16.45 6.14998 16.45 6.14998V8.61998H15.19C13.95 8.61998 13.56 9.38998 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5878 18.0622 20.3855 19.6099 18.57C21.1576 16.7546 22.0054 14.4456 22 12.06C22 6.52998 17.5 2.03998 12 2.03998Z"></path> </g></svg>
					<span class=" hover:bg-violet-400 duration-500 rounded p-1">Cristo Rey | La Banda</span>
				</a>
				<a 
				target="_blank"
				href="https://www.instagram.com/parro_cristorey/"
				class="flex items-center">
				<svg class="w-5 h-5 mr-2 sm:mr-6" fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M113,446c24.8,0,45.1-20.2,45.1-45.1c0-9.8-3.2-18.9-8.5-26.3c-8.2-11.3-21.5-18.8-36.5-18.8s-28.3,7.4-36.5,18.8 c-5.3,7.4-8.5,16.5-8.5,26.3C68,425.8,88.2,446,113,446z"></path> <polygon points="211.4,345.9 211.4,308.1 211.4,302.5 205.8,302.5 168,302.6 168.2,346 "></polygon> <path d="M183,401c0,38.6-31.4,70-70,70c-38.6,0-70-31.4-70-70c0-9.3,1.9-18.2,5.2-26.3H10v104.8C10,493,21,504,34.5,504h157 c13.5,0,24.5-11,24.5-24.5V374.7h-38.2C181.2,382.8,183,391.7,183,401z"></path> <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M241,374.7v104.8 c0,27.3-22.2,49.5-49.5,49.5h-157C7.2,529-15,506.8-15,479.5V374.7v-52.3c0-27.3,22.2-49.5,49.5-49.5h157 c27.3,0,49.5,22.2,49.5,49.5V374.7z"></path> </g> </g></svg>
					<span class=" hover:bg-violet-400 duration-500 rounded p-1">Cristo Rey | La Banda</span>
				</a>
			</div>
		</div>
		<form novalidate="" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 ng-untouched ng-pristine ng-valid">
            <h2 class="text-4xl font-bold  hover:bg-violet-400 duration-500 rounded p-1">Envianos un WhatsApp</h2>
			<label class="block">
				<span class="mb-1">Nombre y Apellido</span>
				<input type="text" placeholder="Ramiro Quiroga" class="block w-full rounded-md shadow-sm focus:ring selection:bg-red-500  focus:ring-white-400 p-1.5 ">
			</label>
			<label class="block">
				<span class="mb-1">Mail o medio de contacto</span>
				<input type="email" placeholder="rama@jgmail.com" class="block w-full rounded-md shadow-sm focus:ring-white-400 p-1.5 ">
			</label>
			<label class="block">
				<span class="mb-1">Mensaje</span>
				<textarea rows="3" placeholder="Este es mi mensaje" class=" p-1.5 block w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-violet-400"></textarea>
			</label>
			<button type="button" class="self-center px-8 py-3 text-lg font-medium rounded focus:ring hover:ring   bg-yellow-100">Enviar</button>
		</form>
	</div>
</section>