---
const{horario,dias,horarioSecre} =Astro.props 
---

<article class="rounded-lg bg-gray-100 p-8 md:w-1/4 w-[48%] flex-auto text-center border-x-2 border-yellow-300 shadow-md">
   

     

        <p class="mt-1 text-lg font-medium text-gray-700 text-center">{dias}</p>

    <p class="line-clamp-2 sm:line-clamp-none mt-4 text-gray-500">
   {horario}
    </p>
  </article>
