
---
import NavBar from '../pages/NavBar/NavBar.astro';

---
<NavBar />
<div class=" my-20 pt-20">
<h1>Evangelio de hoy</h1>
    
    <iframe src="https://evangeli.net/evangelio/widget/web" frameborder="0" class="w-full mt-20 container mx-auto h-screen" height="auto"></iframe>
</div>